/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato';
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  font-size: 16px;
  padding: 30px;
}

header {
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.808),
      rgba(40, 180, 133, 0.795)
    ),
    url('../img/hero.jpg');
  height: 95vh;
  object-fit: cover;
  background-position: top;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* https://bennettfeely.com/clippy/ - Help with clipping?!*/
  position: relative;
}

.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo {
  height: 35px;
}

.header-text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60%;
  transform: translate(-40%, -50%);
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /* to remove a little jerk in animation - a quick fix*/
}

.primary-heading-main {
  font-weight: 400;
  display: block;
  font-size: 40px;
  letter-spacing: 35px;
  animation: moveRight 1s ease-in-out;
}

.primary-heading-secondary {
  display: block;
  font-size: 25px;
  letter-spacing: 25px;
  font-weight: 300;
  animation: moveLeft 1s ease-in-out;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .logo-container {
    left: 40%;
  }
  .logo {
    height: 30px;
  }
  .primary-heading-main {
    font-size: 25px;
    letter-spacing: 15px;
  }
  .primary-heading-secondary {
    font-size: 15px;
    letter-spacing: 10px;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    opacity: 0.7;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    opacity: 0.7;
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
